body {
  background: #020617;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 50px;
}

button {
  padding: 15px 35px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: black;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

#log {
  margin-top: 20px;
  color: #38bdf8;
}