body {
  background: #020617;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

h1 {
  margin-bottom: 30px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #22c55e;
  color: black;
}

#log {
  margin-top: 25px;
  font-size: 18px;
  color: #38bdf8;
}